<div class="container-fluid">
  <div class="row" style="position: relative;">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column" id="sectionsList">
        <%= render "tutorials/sections/sections_list", sections: @sections %>
      </ul>
    </nav>
    <%= render "tutorials/sections/new_section_modal", tutorial: @tutorial %>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" id="section-content-editor">
      <%= render "tutorials/sections/section_content_editor", sections: @sections, section: @sections.first, tutorial: @tutorial %>
    </main>
  </div>
</div>