// left sidebar
.sidebar {
  position: fixed !important;
  top: 57px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar {
  padding: 20px 0px 20px 0px !important;
}

.nav-link-active {
  background-color: #039be5 !important;
}

.nav-pills .nav-link {
  border-radius: 0rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}


// sections list
.nav-item {
  position: relative;
  overflow: hidden;
}

.nav-item:hover {
  background-color: #ecf0f1;
}

.section-arrow {
  padding: 0px 10px 0px 10px;
}

.nav-link-active > .section-arrow:hover {
  background-color: #0288d1;
}

.nav-link-normal > .section-arrow:hover {
  background-color: #e0e0e0;
}

.icon-plus {
  position: absolute;
  right: 10px;
  top: 14px;
}

.icon-plus:hover {
  color: #2c3e50;
}